.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}
.clear-button {
  background-color: rgb(241, 241, 241);
  height: 30px;
  width: 120px;
  border: 0px;
  border-radius: 10px;
  color: rgb(14, 13, 13);
}
.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #e2e7eb;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
  
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

/* Write your CSS here */
